h1 {
  text-align: center;
  margin-top: 30px;
}

#info-title {
  text-align: center;
}

.navbar-brand {
  margin-left: 10px;
}

.bio {
  width: 40%;
  text-align: right;
}

#info {
  display: flex;
  justify-content: flex-end;
  margin-right: 180px;
}

.authormedia {
  position: absolute;
  margin-left: 170px;
  width: 30%;
}

#monalisa {
  width: 22%;
  margin-left: 270px;
}

#monalisainfo {
  margin-right: 80px;
}

@media screen and (max-width: 995px) {
  #authorpicture {
    visibility: hidden;
  }
}

#pictures {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;

}

.images {
  width: 300px;
  margin-left: 20px;
  border: 6px solid rgb(240, 216, 186);
  margin-top: 40px;
  margin-left: 40px;
}

#resume {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 400px;
  margin-left: 20px;
  margin-top: 10px;
}

#options {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.change {
  padding: 10px;
}

#register {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
